---
layout: default
---

<div class="home">

  <div class="jumbotron">
      <div class="container" style="padding:0">
        <div class="col-md-8" style="padding:0">
          <h3>About Me</h3>
          <div class="container" style="margin-bottom:12px">
            <p>
            I am Senior Director of Machine Learning and Artificial Intelligence and Head of the Biomedical AI group at <a href="https://www.gsk.ai/">GSK.ai</a>. My work aims to advance personalised medicine by utilising machine learning, computational systems biology methods and large-scale health data, such as genetics, multi-omics, cell-based assays, and continuous measurements from smart devices and electronic health records, to better understand and treat complex diseases.
            </p>

            <p>
            Prior to joining GSK, I was Principal Architect working on Machine Learning for Personalised Medicine at <a href="https://www.roche.com/">Roche</a> in Basel, Switzerland and at <a href="https://www.gene.com/">Genentech</a> in South San Francisco, US. Before joining Roche, I was a doctoral researcher working on Machine Learning for Healthcare at ETH Zurich. Prior to ETH Zurich, I spent 5 years building custom data-driven software solutions in industry. I hold a PhD in Machine Learning (2019) from ETH Zurich, Switzerland, a MSc in Computer Science (2015) with distinction from the University of Vienna, Austria and a BSc in Computer Science (2013) with honors from Technikum Vienna, Austria.
            </p>
          </div>
          <div class="landing-research-areas">
            <b>Research Areas</b> <br>
            <span>Machine Learning, Big Data, Deep Learning, Causality, Health Care</span>
          </div>
        </div>
        <div class="col-sm-4">
          <img class="image-about-me" src="/img/pic.jpeg" alt="Picture of Patrick Schwab."/>
          <div class="row justify-content-end link-icon-list">
              <div class="col-md-8  float-right  justify-content-center">
                  <div class="col-2 float-right link-icon-list-icon"><a href="https://www.linkedin.com/in/{{ site.linkedin_username }}/" class="username"><i class="fa fa-linkedin"></i></a></div>
                  <div class="col-2 float-right link-icon-list-icon"><a href="https://github.com/{{ site.github_username }}" class="username"><i class="fa fa-github"></i></a></div>
                  <div class="col-2 float-right link-icon-list-icon"><a href="https://scholar.google.at/citations?user={{ site.google_scholar_user }}"><i class="fa fa-google"></i></a></div>
                  <div class="col-2 float-right link-icon-list-icon"><a href="https://twitter.com/{{ site.twitter_username }}"><i class="fa fa-twitter"></i></a></div>
                  <div class="col-2 float-right link-icon-list-icon"><a href="mailto:{{ site.email }}"><i class="fa fa-envelope"></i></a></div>
              </div>
          </div>
        </div>
      </div>
  </div>
  <div class="container">
    <div class="row">
      <h1 class="whyText">Recent articles</h1>
    </div>

    <div class="row incentiveRow">
      <postteaser class="col-md-3 incentiveBoxOuter" ng-repeat="post in posts|limitTo:4"/>
    </div>

    <div class="row">
      <h1 class="whyText">News</h1>
    </div>

    <div class="row">
      <ul class="news-list" ng-repeat="news in news">
        <news news="news"></news>
      </ul>
    </div>

    <div class="row">
      <h1 class="whyText">Publications</h1>
    </div>

    <div class="row">
      <ul ng-repeat="publication in publications">
        <publication publication="publication"></publication>
      </ul>
    </div>

    <div class="row">
      <h1 class="whyText">Media Coverage</h1>
    </div>

    <div class="row">
      <ul ng-repeat="media in media_coverage">
        <media media="media"></media>
      </ul>
    </div>

    <div class="row">
      <h1 class="whyText">Supervised Projects</h1>
    </div>

    <div class="row">
      <ul ng-repeat="project in supervision">
        <supervision project="project"></supervision>
      </ul>
    </div>

    <div class="row">
      <h1 class="whyText">Awards and Honors</h1>
    </div>

    <div class="row">
      <ul ng-repeat="award in awards">
        <award award="award"></award>
      </ul>
    </div>

    <div class="row" style="margin-bottom: 40px;">
    </div>
  </div>

</div>
