<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
          <li>You can reach or follow me through the following channels:</li>
          <li><i class="fa fa-envelope"></i><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          <li><i class="fa fa-twitter"></i><a href="https://twitter.com/{{ site.twitter_username }}">@{{ site.twitter_username }}</a></li>
          <li><i class="fa fa-google"></i><a href="https://scholar.google.at/citations?user={{ site.google_scholar_user }}">Google Scholar</a></li>
          <li><i class="fa fa-github"></i><a href="https://github.com/{{ site.github_username }}" class="username">{{ site.github_username }}</a></li>
          <li><i class="fa fa-linkedin"></i><a href="https://www.linkedin.com/in/{{ site.linkedin_username }}/" class="username">{{ site.linkedin_username }}</a></li>
        </ul>
      </div>

      <div class="footer-col  footer-col-2">
        <ul class="social-media-list">

        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p class="text">
          Patrick Schwab<br>
          <a href="https://www.gsk.ai/">GlaxoSmithKline AG</a><br>
          Artificial Intelligence & Machine Learning, Medicinal Science and Technology (MST-AI/ML)<br>
          CH-6300 Zug<br>
        </p>
      </div>
    </div>

  </div>

</footer>
