<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
          <li>You can reach or follow me through the following channels:</li>
          <li><i class="fa fa-envelope"></i><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          <li><i class="fa fa-twitter"></i><a href="https://twitter.com/{{ site.twitter_username }}">@{{ site.twitter_username }}</a></li>
          <li><i class="fa fa-google"></i><a href="https://scholar.google.at/citations?user={{ site.google_scholar_user }}">Google Scholar</a></li>
          <li><i class="fa fa-github"></i><a href="https://github.com/{{ site.github_username }}" class="username">{{ site.github_username }}</a></li>
          <li><i class="fa fa-linkedin"></i><a href="https://www.linkedin.com/in/{{ site.linkedin_username }}/" class="username">{{ site.linkedin_username }}</a></li>
        </ul>
      </div>

      <div class="footer-col  footer-col-2">
        <ul class="social-media-list">

        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p class="text">
          Patrick Schwab<br>
          <a href="http://www.mhsl.hest.ethz.ch/">Mobile Health Systems Lab</a><br>
          <a href="http://www.iris.ethz.ch/">Institute of Robotics and Intelligent Systems</a><br>
          <a href="https://www.hest.ethz.ch/">Department of Health Sciences and Technology</a><br>
          <a href="www.ethz.ch/en.html">ETH Zurich</a><br><br>
          Balgrist Campus<br>
          BAA D<br>
          Lengghalde 5<br>
          8092 Zurich<br>
        </p>
      </div>
    </div>

  </div>

</footer>
